body,div,p,h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
span{
    color: #ff9400;
    font-size: 20px;
}
.container{
    width: 700px;
    margin: auto;
}
.title-box,.container-box{
    display: inline-block;
}
#title,#content{
    border-radius: 3px;
    width: 550px;
    height: 32px;
}
#content{
    height: 500px;
}